In [1]:
!pip install -U vnstock

Requirement already satisfied: vnstock in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.2.6)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (2.32.4)
Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (4.13.4)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (2.3.1)
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (0.13.2)
Requirement already satisfied: openpyxl in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (3.1.5)
Requirement already satisfied: pydantic in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (2.11.7)
Requirement already satisfied: psutil in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (7.0.0)
Requirement already satisfied: fake_useragent in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (2.2.0)
Requirement already satisfied: vnstock_ezchart in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (0.0.2)
Requirement already satisfied: click in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (8.2.1)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from vnstock) (25.0)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (8.7.0)
Requirement already satisfied: tenacity in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (9.1.2)
Requirement already satisfied: vnai>=2.0.3 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock) (2.1.9)
Requirement already satisfied: zipp>=3.20 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from importlib-metadata>=1.0->vnstock) (3.23.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->vnstock) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests->vnstock) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests->vnstock) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests->vnstock) (2025.7.9)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4->vnstock) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4->vnstock) (4.14.1)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl->vnstock) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->vnstock) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->vnstock) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->vnstock) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->vnstock) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->vnstock) (1.17.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic->vnstock) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic->vnstock) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic->vnstock) (0.4.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/codespace/.local/lib/python3.12/site-packages (from seaborn->vnstock) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (1.4.8)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (3.2.3)
Requirement already satisfied: squarify in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock_ezchart->vnstock) (0.4.4)
Requirement already satisfied: wordcloud in /usr/local/python/3.12.1/lib/python3.12/site-packages (from vnstock_ezchart->vnstock) (1.9.4)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading

/usr/local/python/3.12.1/lib/python3.12/site-packages/vnai/scope/profile.py:562: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [4]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
from vnstock import Listing
listing = Listing()
listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1714    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1715    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1716    AAH                           Công ty Cổ phần Hợp Nhất
1717    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1718    A32                                 Công ty Cổ phần 32

[1719 rows x 2 columns]

In [5]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name,product_grp_id
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,UPX
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1,STO
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,STO
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,UPX
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội,UPX
...,...,...,...,...,...,...
3004,41I1FA000,HNX,FU,VN30 Index Futures 102025,VN30 Index Futures 102025,FIO
3005,41I1F8000,DELISTED,FU,41I1F8000 - HĐTL,41I1F8000 - HĐTL,FIO
3006,41I1F7000,DELISTED,FU,41I1F7000 - HĐTL,41I1F7000 - HĐTL,FIO
3007,41BAG3000,HNX,FU,10-year Government Bond Futures 032026,10-year Government Bond Futures 032026,FBX
3008,41B5G3000,HNX,FU,5-year Government Bond Futures 032026,5-year Government Bond Futures 032026,FBX

In [6]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('HOSE')

0      AAA
1      AAM
2      AAT
3      ABR
4      ABS
      ...
407    VTB
408    VTO
409    VTP
410    YBM
411    YEG
Name: symbol, Length: 412, dtype: object

In [7]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

In [8]:
from vnstock import Quote
quote = Quote(symbol='HPG', source='VCI')

In [10]:
df = quote.history(start='2024-01-01', end='2025-09-01', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  21.29  21.33  20.79  20.79  22196509
1   2024-01-03  20.76  21.06  20.76  21.06  18581664
2   2024-01-04  21.06  21.29  20.98  21.02  38548706
3   2024-01-05  21.02  21.14  20.87  21.06  17340693
4   2024-01-08  21.17  21.40  21.10  21.10  31258576
..         ...    ...    ...    ...    ...       ...
408 2025-08-25  26.50  26.75  25.85  25.95  68320100
409 2025-08-26  26.10  27.20  26.10  27.20  51986200
410 2025-08-27  27.25  27.25  26.75  26.75  85992500
411 2025-08-28  26.95  27.50  26.85  27.10  63166300
412 2025-08-29  27.20  27.85  27.05  27.50  81735200

[413 rows x 6 columns]

In [11]:
quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  21.29  21.33  20.79  20.79  22196509
1   2024-01-03  20.76  21.06  20.76  21.06  18581664
2   2024-01-04  21.06  21.29  20.98  21.02  38548706
3   2024-01-05  21.02  21.14  20.87  21.06  17340693
4   2024-01-08  21.17  21.40  21.10  21.10  31258576
..         ...    ...    ...    ...    ...       ...
296 2025-03-14  23.08  23.21  22.96  22.96  18298151
297 2025-03-17  23.25  23.46  23.12  23.21  19738337
298 2025-03-18  23.25  23.37  23.00  23.00  18761045
299 2025-03-19  23.00  23.00  22.58  22.71  37953539
300 2025-03-20  22.75  22.87  22.54  22.62  25038597

[301 rows x 6 columns]

In [12]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(symbol='HPG', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-09-03 10:34:46+07:00  28.65    7400       Sell  357313772
1    2025-09-03 10:34:46+07:00  28.65     100       Sell  357313776
2    2025-09-03 10:34:46+07:00  28.65    2000       Sell  357313773
3    2025-09-03 10:34:46+07:00  28.65     600       Sell  357313774
4    2025-09-03 10:34:47+07:00  28.70    1000        Buy  357313818
...                        ...    ...     ...        ...        ...
9995 2025-09-03 13:37:12+07:00  28.30    1900       Sell  357581737
9996 2025-09-03 13:37:12+07:00  28.30    1000       Sell  357581738
9997 2025-09-03 13:37:12+07:00  28.30    2100       Sell  357581739
9998 2025-09-03 13:37:12+07:00  28.30    2000       Sell  357581740
9999 2025-09-03 13:37:12+07:00  28.30     500       Sell  357581749

[10000 rows x 5 columns]

In [13]:
# Bước giá và khối lượng giao dịch: realtime
quote.price_depth('HPG')

      price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0   29000.0  1952100.0      1952100.0             0.0                  0.0
1   28950.0  1762700.0       639300.0       1123400.0                  0.0
2   28900.0  1258300.0       890800.0        367500.0                  0.0
3   28850.0  1182600.0       657600.0        525000.0                  0.0
4   28800.0  1848200.0      1502400.0        345800.0                  0.0
5   28750.0   486000.0       287600.0        198400.0                  0.0
6   28700.0  1589400.0      1171100.0        418300.0                  0.0
7   28650.0  2903100.0      1361400.0       1541700.0                  0.0
8   28600.0  3678300.0      2164500.0       1513800.0                  0.0
9   28550.0  2550100.0      1190600.0       1359500.0                  0.0
10  28500.0  4653900.0      3336800.0       1317100.0                  0.0
11  28450.0  7124900.0      5213800.0       1911100.0                  0.0
12  28400.0  9033800.0      4527800.0       4506000.0                  0.0
13  28350.0  6310000.0      3608700.0       2701300.0                  0.0
14  28300.0  9895100.0      4999500.0       4895600.0                  0.0
15  28250.0  3748000.0      2080400.0       1667600.0                  0.0
16  28200.0  6196700.0      5316500.0        880200.0                  0.0
17  28150.0  4756700.0      2423600.0       2333100.0                  0.0
18  28100.0  2533500.0      1189700.0       1343800.0                  0.0
19  28050.0  1029600.0       493100.0        536500.0                  0.0
20  28000.0  1532700.0      1342600.0        190100.0                  0.0
21  27950.0   992700.0       730900.0        261800.0                  0.0
22  27900.0   406400.0       300200.0        106200.0                  0.0
23  27850.0   233300.0       224900.0          8400.0                  0.0
24  27800.0   282900.0       276200.0          6700.0                  0.0
25  27750.0   156500.0       103600.0         52900.0                  0.0
26  27700.0   647900.0       625200.0         22700.0                  0.0
27  27650.0   371900.0       365300.0          6600.0                  0.0
28  27600.0   467000.0       466400.0           600.0                  0.0
29  27550.0   311500.0       280900.0         30600.0                  0.0
30  27500.0   793700.0       789200.0          4500.0                  0.0
31  27450.0   968700.0       777100.0        191600.0                  0.0
32  27400.0  4027800.0      3834000.0        193800.0                  0.0
33  27350.0  4956000.0      2452000.0       2504000.0                  0.0
34  27300.0  8590500.0      3070500.0       5520000.0                  0.0
35  27250.0   627000.0            0.0        627000.0                  0.0

In [14]:
trading.price_board(['HPG','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

NameError: name 'trading' is not defined

In [1]:
from vnstock import Company
company = Company(symbol='HPG', source='VCI')

/usr/local/python/3.12.1/lib/python3.12/site-packages/vnai/scope/profile.py:562: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [2]:
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,HPG,70880,7675465855,- Năm 2000: Công ty TNHH Sắt thép Hòa Phát đư...,Công ty Cổ phần Tập đoàn Hoà Phát (HPG) là một...,Kim loại,Tài nguyên Cơ bản,Thép và sản phẩm thép,7675465855,76754658550000

In [3]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,87589489,Trần Đình Long,1980000000,2.580000e-01,2025-07-29
1,87594223,Vũ Thị Hiền,440000000,6.879010e-02,2025-02-05
2,87568598,Dragon Capital Markets Limited,43105102,5.881031e-02,2025-08-05
3,87587618,Red River Holding,16535402,3.950000e-02,2025-08-05
4,87593147,VOF Investment Limited,102148628,3.700000e-02,2025-08-05
...,...,...,...,...,...
102,87588274,Thái Thị Lộc,2160,3.000000e-07,2025-07-29
103,87575091,Ngô Lan Anh,2191,3.000000e-07,2025-07-29
104,87581377,Nguyễn Thị Thanh Vân,151,2.060000e-07,2015-09-14
105,87587141,Quỹ Đầu tư Cân bằng Manulife,9,3.300000e-09,2020-07-14
106,87588345,The CH/SE Asia Investment Holdings (Singapore)...,1,1.300000e-09,2016-09-19